flask
dash
dash_core_components
dash_html_components
pandas
numpy
sklearn
statsmodels
gunicorn
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability